@font-face {
  src: url('../fonts/Sora-Regular.woff2') format('woff2');
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/Sora-Bold.woff2') format('woff2');
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('../fonts/Koulen-Regular.woff2') format('woff2');
  font-family: 'Koulen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/KottaOne-Regular.woff2') format('woff2');
  font-family: 'Kotta One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/KonkhmerSleokchher-Regular.woff2') format('woff2');
  font-family: 'Konkhmer Sleokchher';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url('../fonts/ZenKakuGothicNew-Regular.woff2') format('woff2');
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/ZenKakuGothicNew-Bold.woff2') format('woff2');
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

